body{
	font-family: "Open Sans", sans-serif;
}

.body--shaded{
	background:$grey;
}

//stickyfooter
html,
body {
	margin:0;
	padding:0;
	height:100%;
}

.wrapper{
	max-width:1200px;
	background:$white;
	box-shadow: 0px 0px 3px 0px $grey--dark;

	//sticky footer
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0px auto -62px; /* the bottom margin is the negative value of the footer's height */

}

.fullscreen .wrapper {
	max-width:100%;
}

.main{
	width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.lead {
	font-size: 1.4em;
}

hr{
	margin: 20px 0;
	border: 0;
	border-top: 1px solid #ecf0f1;
}

.hr--margin-large {
	margin:60px 0;
}

#academo-banner {
	padding: 10px;
	background:rgba(0,0,0,.6);
	position:fixed;
	top:0;
	left:0;
	color:$white;
	text-decoration:none;
}

#academo-banner:hover{
	color:$green;
}

.social-buttons {
	min-height:40px;
	overflow:hidden;
}

.social-button {
	display:block;
	float:left;
    padding: 0px 10px 10px 0;
}

.social-button--google-classroom {
	min-width:32px;
}

.social-button--facebook a,
.social-button--twitter a {
	background: url("/img/social-media-sprite.png");
	background-size:136px 54px;
	display:block;
	margin-top:5px;
}

.social-button--patreon a:hover {
	opacity:0.85;
}

.social-button--twitter a {
	width: 63px;
    height: 26px;

    &:hover {
    	background-position: 0 24px;
    }
}

.social-button--facebook a {
	width: 61px;
    height: 25px;
    background-position: 61px 0;

    &:hover {
    	background-position: 61px 24px;
    }
}

@media (max-width: 1200px) {
	.wrapper{
		margin-top:0;
	}
}