$grey--light:#efefef;
$grey:#e9e9e9;
$grey--dark:#c8c8c8;
$grey--x-dark:#666;
$grey--xx-dark:#333;
$orange:#f90;
$green: #1abc9c;
$white:#fff;
//$navy: #2c3e50;
$navy: #020535;
//$navy--light: #3C556E;
$navy--light: transparentize($navy, 0.15);
$navy--x-light: transparentize($navy, 0.3);