_site
_bucket-policy
deployment.md
s3_website.yml
.DS_Store
pinterest-acff7.html
robots.txt
.sass-cache
.jekyll-metadata

# Don't include these large media folders in the git repo
demos/james-webb-vs-hubble-telescope-comparison/_hubble/
demos/james-webb-vs-hubble-telescope-comparison/_jwst/