<p>
	The table below lists which functions can be entered in the expression box.
</p>

<table class="table table-bordered">
	<tr>
		<th>Expression</th>
		<th>Description</th>
	</tr>
	<tr>
		<td>sin(x)</td>
		<td>The sine of x in radians</td>
	</tr>
	<tr>
		<td>cos(x)</td>
		<td>The cosine of x in radians</td>
	</tr>
	<tr>
		<td>tan(x)</td>
		<td>The tangent of x in radians</td>
	</tr>
	<tr>
		<td>asin(x), acos(x), atan(x)</td>
		<td>The inverse of the three trigonometric functions listed above</td>
	</tr>
	<tr>
		<td>sqrt(x)</td>
		<td>The square root of x (for positive x only)</td>
	</tr>
	<tr>
		<td>log(x)</td>
		<td>The natural logarithm of x</td>
	</tr>
	<tr>
		<td>pow(x, y)</td>
		<td>The power of x to the y</td>
	</tr>
</table>