
		
		<script src="{{site.jquery_path}}"></script>
		
		
		<script src="/js/all.js?v={{ site.time | date: "%s" }}"></script> 

		{% if page.layout == 'quiz' %}
			<script src="/js/lib/slickQuiz.js"></script>
			<script>
				$(function () {
	    			$('#slickQuiz').slickQuiz({
	      				checkAnswerText: "Check answer",
	      				backButtonText: "&laquo; Back",
	      				skipStartButton: true,
	      				disableRanking: true,
	      				preventUnanswered: true,
	      				perQuestionResponseAnswers: true,
	      				tryAgainText: "Restart quiz"
	    			});
				});
			</script>
		{% endif %}
		{% if page.layout == 'flashcards' %}

			<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">

			<!-- For the modal -->
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
			<script src="/js/flashcards.js"></script>
		{% endif %}


		{% if page.layout == 'demo' %}

			{% strip %}

				{% if page.latex %}

				  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
				  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
				  <script type="text/javascript">
				  	window.MathJax = {
						tex: {
							tags: 'ams'
						}
					};
				  </script>

				{% endif %}

				{% for script in page.cdn %}
					<script src="{{script}}"></script>
				{% endfor %}

				{% for library in page.libraries %}
					<script src="/js/lib/{{library}}" class='js-demo-library'></script>
				{% endfor %}

				{% if page.codepen != true %}

					{% for script in page.scripts %}

						{% capture demo_script %}{{page.url}}{{script}}{% endcapture %}
							
						    {% for file in site.static_files %}
							    {% if demo_script == file.path %}
									<script src="{{demo_script}}?v={{file.modified_time | date: "%s" }}"></script>
								{% endif %}
						    {% endfor %}

					{% endfor %}

				{% else %}

					{% capture my_variable %}{{page.url | remove_first:'/' }}demo.js{% endcapture %}
					<script id='codepen-script'>
/* This code comes from Academo.org */
{% render {{my_variable}} raw %}
					</script>

				{% endif %}
				
		    {% endstrip %}

			<script>
			    //ASSET SERVING
			    var assetPath = "{{ site.assets_server }}";

			    $(document).trigger({
			    	type: "scriptLoaded"
			    });
		    </script>

	    {% endif %}

	    {% comment %}<!--Include javascript for search page -->{% endcomment %}
	    {% if page.title == 'Search' %}
		    {% comment %}{% bundle %} [/js/lunr.js, /js/mustache.js, /js/URI.js, /js/jquery.lunr.search.js, /js/search.js]{% endbundle %}{% endcomment %}
		    <script src='/js/search.min.js'></script>
	    {% endif %}


	    {% if page.title == 'Spectrogram' %}
	    <script type='text/javascript' src='/articles/spectrogram.js'></script>
	    <script type='text/javascript' src='/articles/academo-spectrogram.js?v=2'></script>
	    {% endif %}

	    {% if page.title == 'Oscilloscope' %}
	    <script type='text/javascript' src='/articles/oscilloscope.js?v=2'></script>
	    <script type='text/javascript' src='/articles/academo-oscilloscope.js?v=2'></script>
	    {% endif %}



	    <script>
		    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		    if (window.location.host == 'academo.org') {
		    	ga('create', 'UA-17960919-9', 'academo.org');
		    	ga('send', 'pageview');
		    }
	    </script>
		</div>
	    <div class="push"></div>
	    </div>
	    <div class="footer">
	    	<div class="footer-inner">
		    	<p>&copy; Academo.org {{ 'now' | date: "%Y" }}.<br> Source code available at <a href="https://github.com/edwardball/academo.org">GitHub.com</a></p>
	    	</div>
	    </div> <!-- End of content -->
	</body>
</html>