<div class="social-buttons">
	<div class="social-button social-button--google-classroom">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-sharetoclassroom" data-size="32" data-url="https://academo.org{{page.url}}" ></div>
	</div>

	<div class="social-button social-button--facebook">
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://academo.org{{page.url}}"></a>
    </div>

	<div class="social-button social-button--twitter">
        <a target="_blank" href="https://twitter.com/intent/tweet?text={{page.title}}%20https://academo.org{{page.url}}+from+@AcademoOrg"></a>
    </div>
	
</div>