<div class="social-buttons">
	<div class="social-button social-button--google-classroom">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <div class="g-sharetoclassroom" data-size="32" data-url="https://academo.org{{page.url}}" ></div>
	</div>

	<div class="social-button social-button--facebook">
		<a aria-label="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://academo.org{{page.url}}"></a>
    </div>

	<div class="social-button social-button--twitter">
        <a aria-label="Share on Twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{page.title}}%20https://academo.org{{page.url}}+from+@AcademoOrg"></a>
    </div>

	<div class="social-button social-button--patreon">
    	<a aria-label="Become a Patron on Patreon" class="patron-link" target="_blank" style="display:block;margin-top: 5px;border-bottom: none!important;" href="https://www.patreon.com/academo"><img src="/img/become_a_patron_button.png" alt="" width="100"></a>
    </div>
	
</div>