.footer{
	color:$white;
	background:#11172B;
	width:100%;
	text-align:right;
	max-width:1200px;
	margin:0 auto;

	//required for sticky footer
	height:62px;

}

.footer br {
	display: none;
}

.footer p {
	color:white;
	font-size:15px;
	margin-bottom:0;
}

.footer-inner {
	padding:20px;
}

//required for sticky footer
.push {
	height:62px;
}

@media (max-width: 520px) {
	.footer {
		text-align:left;
	}

	.footer-inner {
		padding:10px 20px;
	}

	.footer p {
		font-size:13px;
	}

	.footer br {
		display: block;
	}
	
}