.header {
	background:white;
}

.header-upper{
	background:$navy;
	overflow:hidden;
	padding:25px;
}

.header-upper .header-inner{
	position: relative;
}

.logo{
	font-size: 32px;
	position: absolute;
	top: -10px;
	left: 0;
	text-transform:lowercase;
}

.logo img {
	width:40px;
	height: auto;
	vertical-align:middle;
	margin-right:10px;
	aspect-ratio: 773/697;
}

.header-lower{
	background:$navy--light;
	overflow:hidden;
	padding:10px 20px;
	border-top: solid 1px $green;
}

.header a{
	text-decoration:none;
	color:transparentize($white,0.05);

	&:hover, &.current{
		color:$orange;
	}
}

.header-inner{
	width:100%;
	max-width:1200px;
	margin:0 auto;
}

.nav{
	float:right;
	padding:0;
	margin:0 0 0 40px;
}

.nav--secondary{
	float:left;
	margin-left:0;
}

.nav li{
	float:left;
	list-style:none;
	margin-left:20px;
}

.nav--secondary li{
	margin-left:0;
	margin-right:20px;
}

.sponsor-wrapper {
	/*float:right;*/
	padding:20px 0;
	width:90%;
	/*max-width:320px;/*
	/*height:50px;*/
	margin:20px auto;
	box-sizing:border-box;
}

.sponsor-wrapper a {
	float:right;
}

.sposor-wrapper img {
	width:100%;
}

.nav--primary .social--facebook {
	margin-left:0;	
}

@media (max-width: 800px) {
	.sponsor-wrapper {
		/*display:none;*/
	}
}

@media (max-width: 800px) {

	.header-upper {
		padding: 15px 20px;
	}

    .logo{
        position: static;
        float:left;
        font-size: 26px;
        top:-6px;
        margin-right:20px;
    }

    .logo img {
    	width:30px;
    	margin-right:5px;
    	height:auto;
    }

    .header a {
    	font-size: 16px;
    }

    .nav--primary {
    	margin-top: 10px;
    	margin-left: 0;
    	float:left;
    	clear:both;
    }

    .nav--primary li {
    	margin-left:0;
    	margin-right:20px;
    }
}

@media (max-width: 600px) {
	.nav--primary .social--twitter,
	.nav--primary .social--facebook {
		position: absolute;
	    top: 0;
	    right: 20px;
	}

	.nav--primary .social--facebook {
		right: 0px;
	}
}