.home .main {
	text-align:center;
}

.home .thumbnails li {
	float:none;
	display:inline-block;
	vertical-align:top;
	
}

.home .main p {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.home .logos {
	list-style-type:none;
	padding: 0;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.home .logos li {
	display:inline-block;
	vertical-align:top;
}

.home .logos img {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity:0.6;
	margin: 20px;
	transition: all 0.5s;
}

.home .logos img:hover {
	-webkit-filter: grayscale(0%);
	-moz-filter: grayscale(0%);
	filter: grayscale(0%);
	opacity:1;
	transition-duration:0s;
}
.tweets {
	overflow: hidden;
	width:90%;
	max-width: 1000px;
	margin:0 auto;
	text-align: center;
}
.tweet {
	width:30%;
	display: inline-block;
	padding:10px;
	box-sizing: border-box;
	vertical-align: top;
}

blockquote.twitter-tweet {
  display: inline-block;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  border-color: #eee #ddd #bbb;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  max-width: 468px;
}

blockquote.twitter-tweet p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  margin-top:20px;
}

blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
  text-decoration: underline;
}


@media (max-width: 1000px) {
	.tweet {
		width:40%;
		display: inline-block;
		margin:0 auto;
	}
}

@media (max-width: 730px) {
	.tweets {
		width:100%;
	}

	.tweet {
		display: block;
		width:100%;
		margin:0 auto;
	}
}