.noUiSlider.connect.lower#wien{
  background: #CB4B4B;
}
  .noUiSlider.connect.lower#temperature2{
    background: #C0D800;
  }
  .noUiSlider div{
    cursor: pointer;
  }


.input_display{
  border:none;
  width:100px;
  display: inline;
  color: #2c3e50;
}

canvas{
  border:2px solid #ecf0f1;
}
.canvas-container{
  margin:0 auto;
}