{% include header.html %}

<div class="preamble">
	<h1>{{page.title}}</h1>
	<hr>
	<p class="blurb">
		{{ page.blurb }}
	</p>
	
    <!-- <hr> -->

		{% include social.html %}

    <hr>
</div>

<div id="demo" {% if page.background %} style='background:{{page.background}}' {% endif %} class="{% if page.noUi == true %} demo--wide {% endif %}">

<div id="slickQuiz">
        <!-- <h1 class="quizName"></h1> -->

        <div class="quizArea">
            <div class="quizHeader">
                <!-- where the quiz main copy goes -->

                <a class="button startQuiz" href="#">Get Started!</a>
            </div>

            <!-- where the quiz gets built -->
        </div>

        <div class="quizResults">
            <h3 class="quizScore">You Scored: <span><!-- where the quiz score goes --></span></h3>

            <h3 class="quizLevel"><strong>Ranking:</strong> <span><!-- where the quiz ranking level goes --></span></h3>

            <div class="quizResultsCopy">
                <!-- where the quiz result copy goes -->
            </div>
        </div>
	
</div>

{% if page.noUi != true %}
<div class="clearfix" id='ui-container'>
</div>
{% endif %}


<div class="demo-description">

<script type="text/javascript">
// Thank you to https://www.labnol.org/internet/load-disqus-comments-on-click/28653/

var disqus_shortname = "academo";

// Put the permalink of your web page / blog post
var disqus_url = "https://academo.org{{page.url}}";

// Put the permalink of your web page / blog post
var disqus_identifier = "https://academo.org{{page.url}}";

var disqus_loaded = false;

// This is the function that will load Disqus comments on demand
function disqus() {

  if (!disqus_loaded)  {

    // This is to ensure that Disqus widget is loaded only once
    disqus_loaded = true;

    var e = document.createElement("script");
    e.type = "text/javascript";
    e.async = true;
    e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
    (document.getElementsByTagName("head")[0] ||
       document.getElementsByTagName("body")[0])
    .appendChild(e);
}
}

</script>

<div id="disqus_thread">
    <p class="tags"><a href="#" onclick="disqus();return false;">Show Comments</a></p>
</div>

    <hr>

    {{ content }}
			
	{% if page.credits %}

		<hr>

		<h4>Credits</h4>

		<ul class="credits">
	        {% for credit in page.credits %}
		        <li>{{ credit }}</li>
	        {% endfor %}
        </ul>

    {% endif %}

    	        
 </div>

 <div class="sidebar">
	<h3>You might also be interested in</h3>
 	<hr>
 	<ul class="thumbnails">

 	</ul>
 	
 </div>



{% include footer.html %}