.source {
  background:#020535;
  width:200px;
  float:left;
  box-sizing:border-box;
  margin:0px 20px 20px 80px;
}



#myChartWrapper {
	width:100%;
    float:left;
    box-sizing:border-box;
    padding:20px;
    min-width: 
}

/

